* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    /*define app colors*/
    --red: #b91c1c;
    --dark-red: #7f1d1d;
    --gray: #d4d4d8;
}

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: var(--gray);
}

a {
    display: block;
    color: inherit;
}

img {
    display: block;
}

button{
    font-family: inherit;
    color: inherit;
}

.error{
    color: var(--dark-red);
    font-weight: bold;
}

.action-form{
    display: flex;
    align-items: center;
}

.action-form input[type="submit"]{
    background: none;
    color:inherit;
    font-family: inherit;
    font-size: inherit;
    border: none;
    cursor: pointer;
}
